body{
    background-color: rgb(230, 230, 230);
}
.grid{
    display: flex;
    padding: 20px;
}
.cell,
.cellDrawn{
    flex:1;
}
    .cell{
        background-color: white;
    }
    
#sketchpad-container{
    width:520px;
    height:520px;
    background-color: rgb(54, 54, 54);
}


